<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

<%= simple_question @question %>
<%= f.label :date_of_birth %>
<%= question_mark @mark%>
      <%= f.text_field :date_of_birth, class: 'form-control' %>

<%= simple_question @question %>
<%= f.label :place_of_birth %>
<%= question_mark @mark%> 
     <%= f.text_field :place_of_birth, class: 'form-control' %>

<%= simple_question @question %>
<%= f.label :favorite_sport %>
<%= question_mark @mark%>
      <%= f.text_field :favorite_sport, class: 'form-control' %>

<%= simple_question @question %>
<%= f.label :favorite_music %>
<%= question_mark @mark%>
      <%= f.text_field :favorite_music, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>





