<% provide(:title, "kba2login") %>
<h1> KBA 2 LOG IN  </h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:kba, url: kba2in_path) do |f| %>



<%=simple_question @question%>
      <%= f.label :place_of_birth %>
<%=question_mark @mark%>
      <%= f.text_field :place_of_birth, class: 'form-control' %>

 <%=simple_question @question%>
  <%= f.label :favorite_sport %>
<%=question_mark @mark%>
  <%= f.text_field :favorite_sport, class: 'form-control' %>


      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p> REMOTE ID PROOFING</p>
  </div>
</div>
