<% provide(:title, "kba2login") %>

<h1> KBA 2 LOG IN  </h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:kba, url: kba2in_path) do |f| %>



<%=simple_question @question%>
      <%= f.label direct_identificational_data @data %>

<%=question_mark @mark%>
      <%= f.text_field  direct_identificational_data  @data %>

 <%=simple_question @question%>
  <%= f.label indirect_identificational_data @data %>
<%=question_mark @mark%>
  <%= f.text_field indirect_identificational_data @data  %>


      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p> REMOTE ID PROOFING</p>
  </div>
</div>
